header {
  padding: 20;
  background-color: darkred;
}
h1  {
  font-size: 150%;
  font-weight: bold;
  color: white;
  font-family: Arial;
}

#login {
  font-weight: bold;
  color: white;
  font-family: Arial;
  float: right
}

nav {
  display: block;
  padding: 20;
  background-color: black;
}

a {
  padding-left: 10;
  font-weight: normal;
  color: white;
  font-family: Arial;
  float: right
}

#main-and-aside {
  display: -webkit-flex;
  display: flex;
}

#denver-art-museum {
  margin: 20;
  border: 0;
  padding: 0;
  width: 800px;
  vertical-align: baseline;
}

h2 {
  display: flex;
  margin-left: 30;
  border: 0;
  padding: 0;
  font-size: 150%;
  font-family: Arial;
  font-weight: bold;
  vertical-align: baseline;
}

#lorem-ipsum {
  display: block;
  margin-left: 30px;
  width: 750px;
  border: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial;
  font-weight: normal;
  vertical-align: baseline;
}

aside {
}

h3 {
  display: flex;
  margin-top: 20;
  border: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial;
  font-weight: bold;
}

img {
  display: flex;
  width: 300px;
  margin-top: 10;
  margin-bottom: 20;
  margin-right: 10;
}


footer {
  padding: 20;
  background-color: black;
  vertical-align: bottom;
  font-size: 100%;
  font-weight: normal;
  color: white;
  font-family: Arial;
}
